.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 45px !important;
    line-height: 1;

    opacity: .75;
    color: rgb(0, 0, 0) !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-list {
    padding: 30px !important;
}


.slick-track {
    margin: 0 auto;
}

.slick-prev {
    left: 6px;
    z-index: 1;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: 30px;
    z-index: 1;

}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* @media only screen and (max-width: 480px) {
    .slick-slider {
        margin-left: 0px;
        width: 100%;
    }

    .slick-list {
        width: 100%;
    }


} */