@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");


.festindia-parent-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
}

/* Partners caption */
.festindia-header {
  text-align: center;
  /* margin-top: 60px !important; */
}

.festindia-headerr {
    text-align: center;
    margin-top: 60px !important;
  }

  .festindia-headerr h1 {
    margin: 0;
    font-size: 32px;
    /* line-height: 60px; */
  
    font-family: Bebas Neue !important;
    letter-spacing: 0.2em;
    font-weight: 400;
    margin-top: 20px;
  
  }

.festindia-header h1 {
  margin: 0;
  font-size: 32px;
  /* line-height: 60px; */

  font-family: Bebas Neue !important;
  letter-spacing: 0.2em;
  font-weight: 400;
  margin-top: 20px;

}

.festindia-banner {
    width: 100%;
    height: 480px;
    object-fit: cover;
    background-repeat: no-repeat;
  
    /* filter: brightness(0.5); */
    display: flex;
    /* box-shadow: 2px 4px 10px #000; */
    margin-top: -16px;
  
  }
  
  @media (max-width: 1024px) {
    .festindia-banner {
      flex: 100%;
      height: 500px;
    }
  
  }
  
  @media (max-width: 800px) {
    .festindia-banner {
      flex: 100%;
      height: 400px;
    }
  
  }
  
  @media (max-width: 600px) {
    .festindia-banner {
      flex: 100%;
      height: 300px;
    }
  }
  
  @media (max-width: 300px) {
    .festindia-banner {
      flex: 100%;
      height: 200px;
    }
  }

  .festindia-cover p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-top: 30px;
  }
   
   
   

/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
} */

.festindia-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 0;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-top: 50px;
}

.festindia-grid-item {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;

}

#tribal {
    background-image: url('../image/fesindiimg3.png');
    grid-column: span 2;
    height: 291px;
}

#fairs {
    background-image: url('../image/fesindiimg4.png');
    grid-column: span 2;
    height: 291px;
}

#pan-india {
    background-image: url('../image/fesindiimg1.png');

    grid-column: span 3;
    height: 291px;
}

#folk {
    background-image: url('../image/fesindiimg2.png');

    grid-column: span 1;
    height: 291px;
}

.festindia-overlay {
    position: absolute;
    bottom: 0;
    /* background: rgba(10, 0, 0, 0.5); */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(29, 29, 29, 0.4482) 32.81%, rgba(28, 28, 28, 0.7636) 64.06%, rgba(0, 0, 0, 0.83) 100%);;

    color: #fff;
    width: 100%;
   
    font-family: Bebas Neue;
    font-size: 24px;
    font-weight: 400;
    line-height: 38.4px;
    letter-spacing: 0.2em;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .festindia-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #tribal {
        grid-column: span 2;
    }

    #fairs {
        grid-column: span 2;
    }

    #pan-india {
        grid-column: span 2;
    }

    #folk {
        grid-column: span 2;
    }

    .festindia-grid-item {
        height: 150px;
    }
}

@media screen and (max-width: 768px) {
    .festindia-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #tribal {
        grid-column: span 2;
    }

    #fairs {
        grid-column: span 2;
    }

    #pan-india {
        grid-column: span 2;
    }

    #folk {
        grid-column: span 2;
    }

    .festindia-grid-item {
        height: 150px;
    }
}

@media screen and (max-width: 480px) {
    .festindia-grid-container {
        grid-template-columns: 1fr;
    }

    .festindia-grid-item {
        grid-column: span 1;
        height: 120px;
    }

    .festindia-overlay {
        font-size: 0.9em;
    }
}
 
 
 

.swiper {
  width: 100% !important;
  padding-top: 0px !important;
  padding-bottom: 30px !important;
}

.swiper-slide {
  background-position: center !important;
  background-size: cover !important;
  width: 530px !important;
  height: 530px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  box-shadow: 0px 2px 14px #363636;
  border-radius: 2rem;
  object-fit: cover;

}

.swipetext {
  position: absolute;

  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FFF;
  text-shadow: 0px 7px 20px rgba(0, 0, 0, 0.5);
  /* left: 200px;
  top: 450px; */
}

/* Responsive styles for tablets */
@media (max-width: 1024px) {
  .swiper-slide {
    width: 400px !important;
    height: 400px !important;
  }
}

/* Responsive styles for mobile devices */
@media (max-width: 767px) {
  .swiper-slide {
    width: 300px !important;
    height: 300px !important;
  }

  .swiper-slide img {
    border-radius: 2rem;
  }
}

 
 
 
 


.festindia-video-sec-wrap {
  width: 100%;
 
}

.festindia-video-sec {
  width: 75%;
  margin: 3em auto;
  text-align: left;
  
}

.festindia-video-sec-middle {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: auto;
  grid-row-gap: 15px;
  grid-column-gap: 10px;
  padding: 0px 0;
}

.festindia-thumb-wrap {
  display: inline;
  cursor: pointer;
  position: relative;
}

.festindia-thumb {
  display: block;
  width: 100%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  opacity: 1;
  transition: all .2s ease-in-out;
}

.festindia-thumb:hover {
  opacity: .6;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}

.festindia-thumb-info {
  display: inline-block;
  width: 100%;
  padding: .4em;
}

.festindia-thumb-title {
  color: #000000;
  margin: 0;
  font-size: 1em;

  font-family: Quicksand;
  font-weight: 400;
  line-height: 20px;
  text-align: justified;
  

}
.festindia-days-title{
  font-family: Bebas Neue;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 38.4px;
  letter-spacing: 0.2em;
  text-align:start;
}


.festindia-video-sec-title {
  font-weight: bolder;
  font-size: 1.4em;
  color: #f5f5f5;
  margin: 5px 0 10px 10px;
}


@media only screen and (max-width: 1440px) {
  .festindia-video-sec-middle {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .festindia-video-sec-middle {
      grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 756px) {
  .festindia-video-sec-middle {
      grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 496px) {
  .festindia-video-sec-middle {
      grid-template-columns: repeat(1, 1fr);

  }

  .festindia-video-sec {
      width: auto;
      max-width: 100%;
      padding: auto;
  }

}

 
 
/* Disclaimer */

  

.festindia-error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  max-width: 1440px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: #FF9800;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  
}


.festindia-error__titlee {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
 
}
.festindia-error__title {
  font-weight: 500;
  font-size: 14px;
  color: #000000;

}
.festindia-bg{
  background-color: #E2D8C6;
  margin-bottom: -10px;
}

 
 
 
.neamain-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
}

.neamain-image-item {
  position: relative;
  width: 100%;
  max-width: 450px; /* Limit the max width to 450px */
  margin-bottom: 20px;
  position: relative;
  margin-top: 50px;


}

.neamain-image-item img {
  width: 100%;
  height: auto;
  display: block;
}

.neamain-caption {
  text-align: left;
  /* padding-top: 10px; */
  font-size: 1rem;
  color: #333; /* Customize text color */
}

/* Media Queries for different screen sizes */
@media (min-width: 768px) {
  .neamain-image-item {
      width: 48%; /* Take up roughly half the container on larger screens */
  }
}

@media (min-width: 1024px) {
  .neamain-image-item {
      width: 45%; /* Adjust width slightly for wider screens */
  }
}