@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

.fimallinath-mythleg-parent-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
  }

  .fimallinath-mythleg-banner {
    width: 100%;
    height: 480px;
    object-fit: cover;
    background-repeat: no-repeat;
  
    /* filter: brightness(0.5); */
    display: flex;
    /* box-shadow: 2px 4px 10px #000; */
    margin-top: -16px;
  
  }
  
  @media (max-width: 1024px) {
    .fimallinath-mythleg-banner {
      flex: 100%;
      height: 500px;
    }
  
  }
  
  @media (max-width: 800px) {
    .fimallinath-mythleg-banner {
      flex: 100%;
      height: 400px;
    }
  
  }
  
  @media (max-width: 600px) {
    .fimallinath-mythleg-banner {
      flex: 100%;
      height: 300px;
    }
  }
  
  @media (max-width: 300px) {
    .fimallinath-mythleg-banner {
      flex: 100%;
      height: 200px;
    }
  }

  
/* Partners caption */
.fimallinath-mythleg-header {
    text-align: center;
    /* margin-top: 60px !important; */
}

.fimallinath-mythleg-header h1 {
    margin: 0;
    font-size: 32px;
    /* line-height: 60px; */

    font-family: Bebas Neue !important;
    letter-spacing: 0.2em;
    font-weight: 400;
    /* margin-top: 20px; */

}

.fimallinath-mythleg-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;

}

.fimallinath-mythleg-text {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    height: 447px;
    overflow-y:scroll;
    scrollbar-width: none;
}

.fimallinath-mythleg-text h2 {
    margin-top: 0;
    font-size: 24px;

    font-family: Bebas Neue;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.2em;
    text-align: center;


}
.fimallinath-mythleg-text p {
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.fimallinath-mythleg-slider {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.fimallinath-mythleg-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    width: 300%; /* Assuming you have 3 images */
}

.fimallinath-mythleg-slider-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    width: 100%;
    margin: 0 10px;
}

.fimallinath-mythleg-slider .fimallinath-mythleg-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.fimallinath-mythleg-arrow-left {
    /* left: 0; */
}

.fimallinath-mythleg-arrow-right {
    right: 0;
}

@media (max-width: 768px) {
    .fimallinath-mythleg-container {
        flex-direction: column;
    }

    .fimallinath-mythleg-text, .fimallinath-mythleg-slider {
        padding: 10px;
    }
}