@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

.fipertrad-parent-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
}

.fipertrad-banner {
    width: 100%;
    height: 480px;
    object-fit: cover;
    background-repeat: no-repeat;

    /* filter: brightness(0.5); */
    display: flex;
    /* box-shadow: 2px 4px 10px #000; */
    margin-top: -16px;

}

@media (max-width: 1024px) {
    .fipertrad-banner {
        flex: 100%;
        height: 500px;
    }

}

@media (max-width: 800px) {
    .fipertrad-banner {
        flex: 100%;
        height: 400px;
    }

}

@media (max-width: 600px) {
    .fipertrad-banner {
        flex: 100%;
        height: 300px;
    }
}

@media (max-width: 300px) {
    .fipertrad-banner {
        flex: 100%;
        height: 200px;
    }
}


/* Partners caption */
.fipertrad-header {
    text-align: center;
    /* margin-top: 60px !important; */
}

.fipertrad-header h1 {
    margin: 0;
    font-size: 32px;
    /* line-height: 60px; */

    font-family: Bebas Neue !important;
    letter-spacing: 0.2em;
    font-weight: 400;
    /* margin-top: 20px; */

}

/* */

.fipertrad-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;

}

.fipertrad-text {
    height: 450px;
    overflow-y:scroll;
    scrollbar-width: none;

    flex: 1;
    min-width: 300px;
    padding: 20px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;

}

.fipertrad-text h2 {
    margin-top: 0;
    font-size: 24px;

    font-family: Bebas Neue;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.2em;
    text-align: center;


}

.fipertrad-text p {
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.fipertrad-slider {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.fipertrad-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    width: 300%;
    /* Assuming you have 3 images */
}

.fipertrad-slider-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    width: 100%;
    margin: 0 10px;
}

.fipertrad-slider .fipertrad-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.fipertrad-arrow-left {
    /* left: 0; */
}

.fipertrad-arrow-right {
    right: 0;
}

@media (max-width: 768px) {
    .fipertrad-container {
        flex-direction: column;
    }

    .fipertrad-text,
    .fipertrad-slider {
        padding: 10px;
    }
}