@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

.flagresult-banner-container {
    position: relative;
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
    /* Center the container horizontally */
    height: auto;
    /* Set the desired height for the container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -16px;
}

.flagresult-bg {
    background-color: black;
}

.flagresult-txt-player {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.flagresult-para {
    margin-top: 10px;
    /* margin-left: 150px; */
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    display: block;
    text-align: justify;
}

.flagresult-title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    /* font-size: clamp(1rem, 0.3043rem + 3.4783vw, 2rem); */
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.flagresult-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: auto;
    margin-right: 30px;
}


.flagresult-vertical {
    border-left: 1px solid #101010;
    height: 50px;
    margin-right: 30px;
    /* position:absolute; */
    /* left: 50%; */
}

 
 


/* Day wise thumbnails for flagshiv resultpage */
.flagresult-play-icon {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    top: 35%;
    left: 45%;
    color: #ffffff;
    background-color: #101010;
    border-radius: 50%;
    opacity: 0.6;
    padding: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 


.flagresult-video-sec-wrap {
    width: 100%;
    /* min-height: 100vh; */
}

.flagresult-video-sec {
    width: 85%;
    margin: 3em auto;
    /* border-bottom: 2px solid #353535; */
    text-align: left;
}

.flagresult-video-sec-middle {
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    padding: 0px 0;
}

.flagresult-thumb-wrap {
    display: inline;
    cursor: pointer;
    position: relative;
}

.flagresult-thumb {
    display: block;
    /* margin: .4em; */
    width: 100%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    opacity: 1;
    transition: all .2s ease-in-out;
}

.flagresult-thumb:hover {
    opacity: .6;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}

.thumb-info {
    display: inline-block;
    /* height: 100%; */
    width: 100%;
    padding: .4em;
}

.flagresult-thumb-title {
    color: #000000;
    margin: 0;
    font-size: 1em;

    font-family: Quicksand;
    font-weight: 400;
    line-height: 20px;
    text-align: justified;
    

}
.flagresult-days-title{
    font-family: Bebas Neue;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 38.4px;
    letter-spacing: 0.2em;
    text-align:start;
}

/* .thumb-user {
      color: #7e7e7e;
      display: block;
      margin: 0;
      font-size: .9em;
  }
  .thumb-text {
      color: #7e7e7e;
      display: inline-block;
      margin: 0;
      font-size: .8em;
  } */
.flagresult-video-sec-title {
    font-weight: bolder;
    font-size: 1.4em;
    color: #f5f5f5;
    margin: 5px 0 10px 10px;
}

/* .video-showmore {
      font-weight: bold;
      font-variant: all-petite-caps;
      display: block;
      color: #7e7e7e;
      padding: 10px;
      font-size: 1.2em;
  } */
@media only screen and (max-width: 1456px) {
    .flagresult-video-sec-middle {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1024px) {
    .flagresult-video-sec-middle {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 756px) {
    .flagresult-video-sec-middle {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 496px) {
    .flagresult-video-sec-middle {
        grid-template-columns: repeat(1, 1fr);

    }

    .flagresult-video-sec {
        width: auto;
        max-width: 100%;
        padding: auto;
    }

}

 
   
   
  .flagresult-float-container {
    position: fixed;
    top: 38%;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    z-index: 99;
}

.flagresult-float-container a {
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 220px;
    height: 40px;
    margin-right: -180px;
    margin-bottom: 10px;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-color: #46b8da;
    border-radius: 5px 0 0 5px;
    background-color: #89216B !important;
    /* -webkit-box-shadow: 0 2px 4px #7d7d7d; */
    /* box-shadow: 0 2px 4px #7d7d7d; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: sans-serif;
    opacity: 0.5;
}

.flagresult-float-container a:hover {
    margin-right: 0;
    background-color: #89216B;
    opacity: 1.0;
    color: #FFF !important;
   /*  -webkit-box-shadow: 0 2px 4px #7d7d7d;
    box-shadow: 0 2px 4px #7d7d7d; */
    width: 150px;
}

/* Icon settings - remove if not needed*/
.flagresult-float-container .icon:before {
    font-family: "Font Awesome 5 Free";
    margin-right: 25px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.icon.one:before {
    content: "\f073";
}

.icon.two:before {
    content: "\f086";
}

/* .icon.three:before {
    content: "\f1d8";
} */

/* Media queries */
@media screen and (max-width:440px)
{
	/* .float-container .icon:last-child {
		display: none;
	} */
    .flagresult-float-container
    {
        position: fixed;
        top: auto;
        bottom: 0;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            -ms-flex-direction: row;
                flex-direction: row;

        width: 100%;
        z-index: 99;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: auto;
        -webkit-box-align: auto;
        -ms-flex-align: auto;
        align-items: auto;
        opacity: 1.0;
        
        
    }
		.flagresult-float-container a.icon
    {
        right: 0;
        bottom: 0;
        opacity: 1.0;
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
        padding: 5px;
        z-index: 99;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0 #7d7d7d;
                box-shadow: 0 0 0 #7d7d7d;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
		border-left: 1px solid darkorange;
		border-right: 1px solid darkorange;
    }
}


/*** Discard this ***/
