@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

.hc-parent-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
}

.hc-banner {
  width: 100%;
  height: 480px;
  object-fit: cover;
  background-repeat: no-repeat;

  /* filter: brightness(0.5); */
  display: flex;
  /* box-shadow: 2px 4px 10px #000; */
  margin-top: -16px;

}

@media (max-width: 1024px) {
  .hc-banner {
    flex: 100%;
    height: 500px;
  }

}

@media (max-width: 800px) {
  .hc-banner {
    flex: 100%;
    height: 400px;
  }

}

@media (max-width: 600px) {
  .hc-banner {
    flex: 100%;
    height: 300px;
  }
}

@media (max-width: 300px) {
  .hc-banner {
    flex: 100%;
    height: 200px;
  }
}

.hc-header {
  text-align: center;
  margin-top: 10px !important;
}

.hc-header h1 {
  margin: 0;
  font-size: 32px;
  line-height: 60px;

  font-family: Bebas Neue !important;
  letter-spacing: 0.2em;
  font-weight: 400;

}

.hc-cover p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: justify;
  /* margin-bottom: 30px !important; */


}

/* state  */
 
.hc-section {
  display: none;
  padding: 1rem;
  background-color: #000000;
  /* margin-top: 35px; */

}

 
@media screen and (min-width: 768px) {
  .hc-section {
    padding: 2rem;
  }
}


 
@supports (display: grid) {
  .hc-section {
    display: block;
    /* margin-top: 60px; */
  }
}

 
.hc-grid {
  /* background-color: #000000; */
  display: grid;
  /* grid-gap: 20px; */
  grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
  grid-gap: 2rem;
  /* max-width: 1440px; */
  width: 100%;
  margin-top: 30px;
  /* margin-left: 120px; */

}

 
.hc-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #5c5b5b;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  /* background: url('https://images.unsplash.com/photo-1470124182917-cc6e71b22ecc?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop='); */
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
}

.hc-item:nth-of-type(1n) {
  background-image: url('../image/state1.png');


}

.hc-item:nth-of-type(2n) {
  background-image: url('../image/state2.png');


}

.hc-item:nth-of-type(3n) {
  background-image: url('../image/state3.png');


}

.hc-item:nth-of-type(4n) {
  background-image: url('../image/state4.png');

}

.hc-item:nth-of-type(5n) {
  background-image: url('../image/state5.png');

}

.hc-item:nth-of-type(6n) {
  background-image: url('../image/state6.png');

}

 
.hc-item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.hc-item:hover {
  transform: scale(1.05);
}

.hc-item:hover:after {
  opacity: 0;
}

.hc-item--medium {
  grid-row-end: span 3;
}

.hc-item--large {
  grid-row-end: span 4;
}

.hc-item--full {
  grid-column-end: auto;
}

 

@media screen and (min-width: 768px) {
  .hc-item--full {
    grid-column: 2/-1;
    grid-row-end: span 2;
  }
 
}



.hc-item__details {
  position: relative;
  z-index: 1;
  padding: 15px;

  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.2em;

  text-align: center;
  font-family: Bebas Neue;
  color: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(29, 29, 29, 0.4482) 32.81%, rgba(28, 28, 28, 0.7636) 64.06%, rgba(0, 0, 0, 0.83) 100%);
  ;
  /* background: #fff; */
  text-transform: lowercase;
  letter-spacing: 3px;
  /* color: #828282; */
}


.hc-item__details:before {
  /* content: counter(item-counter); */
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: #444;
}


 
 
/* Historic cities horizontal timeline */
.hc-timeline {
  color: #fff;
  margin-top: -55px;
}

.hc-timeline h1,
.hc-timeline ul li .hc-content h2 {
  text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
  margin: 0;
  font-size: 28px;
  /* line-height: 60px; */

  font-family: Bebas Neue !important;
  letter-spacing: 0.2em;
  font-weight: 400;

}

.hc-timeline h1 {
  background: #dc3545;
  padding: 70px 0;

  text-align: center;
}

.hc-timeline ul {
  /* background: #faf8eb; */
  padding: 50px 0;
}

.hc-timeline ul li {
  background: #dc3545;
  position: relative;
  margin: 0 auto;
  width: 5px;
  padding-bottom: 40px;
  list-style-type: none;
}

.hc-timeline ul li:last-child {
  padding-bottom: 7px;
}

.hc-timeline ul li:before {
  content: "";
  background: #faf8eb;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 3px solid #dc3545;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.hc-timeline ul li .hidden {
  opacity: 0;
}

.hc-timeline ul li .hc-content {
  background: #dc3545;
  position: relative;
  top: 7px;
  width: 450px;
  padding: 15px;
}

.hc-timeline ul li .hc-content h2 {
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
}

.hc-timeline ul li .hc-content p {
  text-align: left;
}

.hc-timeline ul li .hc-content:before {
  content: "";
  background: #dc3545;
  position: absolute;
  top: 0px;
  width: 38px;
  height: 5px;
}

.hc-timeline ul li:nth-child(odd) .hc-content {
  left: 50px;
  background: #dc3545;
  background: -webkit-linear-gradient(-45deg, #dc3545, #d63384);
  background: linear-gradient(-45deg, #dc3545, #d63384);
}

.hc-timeline ul li:nth-child(odd) .hc-content:before {
  left: -38px;
}

.hc-timeline ul li:nth-child(even) .hc-content {
  left: calc(-450px - 45px);
  background: #dc3545;
  background: -webkit-linear-gradient(45deg, #dc3545, #d63384);
  background: linear-gradient(45deg, #dc3545, #d63384);
}

.hc-timeline ul li:nth-child(even) .hc-content:before {
  right: -38px;
}

/* Media Queries    */
@media screen and (max-width: 1020px) {
  .hc-timeline ul li .hc-content {
    width: 41vw;
  }

  .hc-timeline ul li:nth-child(even) .hc-content {
    left: calc(-41vw - 45px);
  }
}

@media screen and (max-width: 700px) {
  .hc-timeline ul li {
    margin-left: 20px;
  }

  .hc-timeline ul li .hc-content {
    width: calc(100vw - 100px);
  }

  .hc-timeline ul li .hc-content h2 {
    text-align: initial;
  }

  .hc-timeline ul li:nth-child(even) .hc-content {
    left: 45px;
    background: #67CC8E;
    background: -webkit-linear-gradient(-45deg, #dc3545, #d63384);
    background: linear-gradient(-45deg, #dc3545, #d63384);
  }

  .hc-timeline ul li:nth-child(even) .hc-content:before {
    left: -33px;
  }
}

/*Historic cities Cooming soon section */
/* glider js start here */

.hc-main .hc-container .glider-contain .glider .hc-card-image {
  margin-right: 1.2rem;
  background: #ffffff;
  border: none;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin: 5px;
  /* filter for Coming soon added here */
  filter: grayscale(1);

}

/* .hc-main .hc-container .glider-contain .glider .hc-card-image:hover {
  margin-right: 1.2rem;
  background: #ffffff;
  border: none;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin: 5px;
  filter: grayscale(0);

} */

.hc-main .hc-container .glider-contain .glider .hc-card-image img {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  /* width and height */
  width: 100%;
  height: auto;
  /* width: 310px;
height: 227px; */
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;


}



.hc-main .hc-container .glider-contain .glider-prev,
.hc-main .hc-container .glider-contain .glider-next {
  font-size: 1.5rem;
  font-weight: bolder;
  background: #ffffff;
  color: #000000;
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
}

.hc-main .hc-container .glider-contain .glider-prev .fas,
.hc-main .hc-container .glider-contain .glider-next .fas {
  margin-left: 1rem;

}

@media only screen and (max-width: 768px) {

  .hc-main .glider-contain .glider-prev,
  .hc-main .glider-contain .glider-next {
    display: none;

  }
}

@media only screen and (min-width: 769px) {
  .hc-main .glider-contain .dots {
    display: none;

  }
}

.external-header {
  text-align: center;
  margin-top: 60px !important;
}

.external-header h1 {
  margin: 0;
  font-size: 32px;
  line-height: 60px;
  font-family: Bebas Neue;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.hide-scrollbar {
  overflow: auto;
  -ms-overflow-style: none;
  /* IE 11 */
  scrollbar-width: none;
  /* Firefox 64 */
}

 
 
 
 /*Explore btn*/
.hc-btn {

  border-radius: 40px !important;
  /* background-color: #8b2266; */
  /* background: linear-gradient(to bottom right, #8b2266 25%, #ff6699 100%); */
  background: #d34156 !important;

  border: 1px solid #d34156 !important;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 0px;
  width: 140px;
  height: 42px;
  /* transition: all 0.3s; */
  cursor: pointer;
  margin-left: 0%;
  margin-top: 0em;
  /* box-shadow: 4px 4px 8px rgb(0 0 0 / 25%), 2px 4px 8px rgb(0 0 0 / 22%) */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 30px;

}

.hc-btn:hover {

  border-radius: 40px;
  /* background-color: #8b2266; */
  /* background: linear-gradient(to bottom right, #8b2266 25%, #ff6699 100%); */
  background: #d34156 !important;

  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 0px;
  width: 140px;
  height: 42px;
  /* transition: all 0.3s; */
  cursor: pointer;
  margin-left: 0%;
  margin-top: 0em;
  box-shadow: 0px 0px 0px rgb(0 0 0 / 25%), 1px 1px 8px rgb(0 0 0 / 22%);
  
  margin-top: 30px;
}

.hc-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hc-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hc-btn:hover span {
  padding-right: 25px;
}

.hc-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.hc-center{
  text-align: center;
}