@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");


:root {
    --d: 700ms;
    --e: cubic-bezier(0.20, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}

/* {
    box-sizing: border-box;
} */

/* body {
    display: grid;
    place-items: center;
    background-color: #e5e5e5;
} */

.citycapsul-lst {
    display: grid;
    place-items: center;
}

/* Acrchive caption */
.citycapsul-header {
    text-align: center;
}

.citycapsul-header h1 {
    margin: 0;
    color: #000;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.citycapsul-ccpage-cccontent {
    padding: 0 10px;
    display: grid !important;
    grid-gap: 1.5rem;
    /* padding: 1rem; */
    /* changes made here */
    /* max-width: 1024px; */
    margin: 0 auto;
    margin-top: 20px;
    font-family: var(--font-sans);
}

@media (min-width: 300px) {
    .citycapsul-ccpage-cccontent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px) {
    .citycapsul-ccpage-cccontent {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 800px) {
    .citycapsul-ccpage-cccontent {
        grid-template-columns: repeat(5, 1fr);
    }
}

.citycapsul-cclistcard {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 0rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    /* background-color: whitesmoke; */
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .citycapsul-cclistcard {
        /* changes made here */
        height: 250px;
    }
}

.citycapsul-cclistcard:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;

    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
    /* filter: blur(2px); */
}

.citycapsul-cclistcard:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.citycapsul-cclistcard:nth-child(1):before {
    background-image: url(../image/image\ 14.png);
}


.citycapsul-cclistcard:nth-child(2):before {
    background-image: url(../image/image\ 14.png);
}


.citycapsul-cclistcard:nth-child(3):before {
    background-image: url(../image/image\ 15.png);
}

.citycapsul-cclistcard:nth-child(4):before {
    background-image: url(../image/image\ 14.png);
}



.citycapsul-cclistcard:nth-child(5):before {
    background-image: url(../image/image\ 15.png);

}

/* 2nd row */
.citycapsul-cclistcard:nth-child(6):before {
    background-image: url(../image/image\ 14.png);
}

.citycapsul-cclistcard:nth-child(7):before {
    background-image: url(../image/image\ 15.png);
}

.citycapsul-cclistcard:nth-child(8):before {
    background-image: url(../image/image\ 14.png);
}

.citycapsul-cclistcard:nth-child(9):before {
    background-image: url(../image/image\ 15.png);
}

.citycapsul-cclistcard:nth-child(10):before {
    background-image: url(../image/image\ 14.png);
}

/* 3rd row */
.citycapsul-cclistcard:nth-child(11):before {
    background-image: url(../image/image\ 15.png);
}

.citycapsul-cclistcard:nth-child(12):before {
    background-image: url(../image/image\ 14.png);
}

.citycapsul-cclistcard:nth-child(13):before {
    background-image: url(../image/image\ 15.png);
}

.citycapsul-cclistcard:nth-child(14):before {
    background-image: url(../image/image\ 14.png);
}

.citycapsul-cclistcard:nth-child(15):before {
    background-image: url(../image/image\ 15.png);
}

.citycapsul-cccontent {
    position: relative;
    display: grid;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 1.5rem;
    transition: transform var(--d) var(--e);
    z-index: 1;

}

.citycapsul-cccontent>*+* {
    margin-top: 1rem;
}

.citycapsul-cctitle {
    font-family: quicksand !important;
    font-size: 1rem !important;
    /* font-weight: bold; */
    /* line-height: 1.2; */
    text-shadow: 1px 1px #0d0d0d !important;
    /* inline-size: 250px;  */
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.citycapsul-copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.citycapsul-cclistbtn {
    font-family: quicksand;
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    /* color: white;
    background: linear-gradient(90deg, #8A216B 0%, #D94453 100%); */
    border: none;
}

/* .listbtn:hover {
    background-color: #0d0d0d;
}
 */
.citycapsul-cclistbtn:focus {
    /* outline: 1px dashed yellow; */
    outline-offset: 3px;

}

@media (hover: hover) and (min-width: 600px) {
    .citycapsul-cclistcard:after {
        transform: translateY(0);
    }

    .citycapsul-cccontent {
        transform: translateY(calc(100% - 4.5rem));
    }

    .cccontent>*:not(.citycapsul-cctitle) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .citycapsul-cclistcard:hover,
    .citycapsul-cclistcard:focus-within {
        align-items: center;
    }

    .citycapsul-cclistcard:hover:before,
    .citycapsul-cclistcard:focus-within:before {
        transform: translateY(-4%);
        filter: blur(2px);
    }

    .citycapsul-cclistcard:hover:after,
    .citycapsul-cclistcard:focus-within:after {
        transform: translateY(-50%);
    }

    .citycapsul-cclistcard:hover .citycapsul-cccontent,
    .citycapsul-cclistcard:focus-within .citycapsul-cccontent {
        transform: translateY(0);

    }

    .citycapsul-cclistcard:hover .citycapsul-cccontent>*:not(.citycapsul-cctitle .cctitle-child),
    .citycapsul-cclistcard:focus-within .citycapsul-cccontent>*:not(.citycapsul-cctitle .cctitle-child) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .citycapsul-cclistcard:focus-within:before,
    .citycapsul-cclistcard:focus-within:after,
    .citycapsul-cclistcard:focus-within .citycapsul-cccontent,
    .citycapsul-cclistcard:focus-within .citycapsul-cccontent>*:not(.citycapsul-cctitle .cctitle-child) {
        transition-duration: 2s;
    }
}


  /* Acrchive caption */
.citycapsul-cccuisine-header {
    text-align: center;
    margin-top: 50px;
}

.citycapsul-cccuisine-header h1 {
    margin: 0;
    color: #000;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.citycapsul-paginattion-place {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px !important;

}

.citycapsul-end {
    text-align: center;
    margin-top: 30px;
}
.citycapsul-rightplace {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.citycapsul-image-item1 {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
    overflow: hidden;
}

.citycapsul-image-item1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}

.citycapsul-caption1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, -0.9));
}

/* Responsive layout */
@media (max-width: 576px) {
    .citycapsul-image-item1 {
        width: 100%;
        height: auto;
    }
}