/* Banner styles */
.txtile-hisanc-parent-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
}

.txtile-hisanc-banner {
    width: 100%;
    height: 480px;
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-top: -16px;
}

/* Media queries for responsive banner height */
@media (max-width: 1024px) {
    .txtile-hisanc-banner {
        height: 500px;
    }
}

@media (max-width: 800px) {
    .txtile-hisanc-banner {
        height: 400px;
    }
}

@media (max-width: 600px) {
    .txtile-hisanc-banner {
        height: 300px;
    }
}

@media (max-width: 300px) {
    .txtile-hisanc-banner {
        height: 200px;
    }
}

/* Partners caption */
.txtile-hisanc-children-header {
    text-align: center;
    margin-top: 30px !important;
}

.txtile-hisanc-children-header h1 {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 60px;
    font-family: Bebas Neue;
    letter-spacing: 0.2em;
    font-weight: 400;
}

.txtile-hisanc-cover p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: justify;
    /* margin-top: 30px; */
}

 
/*Explore btn*/
.txtile-hisanc-btn {

    border-radius: 40px !important;
  
    background: #d34156 !important;

    border: 1px solid #d34156 !important;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 0px;
    width: 250px;
    height: 42px;
    /* transition: all 0.3s; */
    cursor: pointer;
    margin-left: 0%;
    margin-top: 0em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.txtile-hisanc-btn:hover {

    border-radius: 40px;
 
    background: #d34156 !important;

    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 0px;
    width: 250px;
    height: 42px;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 0em;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 25%), 1px 1px 8px rgb(0 0 0 / 22%)
}

.txtile-hisanc-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.txtile-hisanc-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.txtile-hisanc-btn:hover span {
    padding-right: 25px;
}

.txtile-hisanc-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.txtile-hisanc-center {
    text-align: center;
    margin-top: 20px;
}

 
 
 

@media (min-width: 1000px) {

    #timeline .demo-card:nth-child(even) .head::after,
    #timeline .demo-card:nth-child(odd) .head::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

    #timeline .demo-card:nth-child(even) .head::before,
    #timeline .demo-card:nth-child(odd) .head::before {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        background-color: #bdbdbd;
        border-radius: 9px;
        box-shadow: 0px 0px 2px 8px #f7f7f7;
    }
}

/* Some Cool Stuff */
.demo-card:nth-child(1) {
    order: 1;
}

.demo-card:nth-child(2) {
    order: 4;
}

.demo-card:nth-child(3) {
    order: 2;
}

.demo-card:nth-child(4) {
    order: 5;
}

.demo-card:nth-child(5) {
    order: 3;
}

.demo-card:nth-child(6) {
    order: 6;
}

#timeline {
    /* padding: 100px 0; */
    /* background: #e5e5e5; */
    /* border-top: 1px solid rgba(191, 191, 191, 0.4); */
    /* border-bottom: 1px solid rgba(191, 191, 191, 0.4); */
}

#timeline h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
}

#timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
}

#timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
}

@media (min-width: 1000px) {
    #timeline .demo-card-wrapper {
        display: flex;
        flex-flow: column wrap;
        width: 1170px;
        height: 1650px;
        margin: 0 auto;
    }
}

#timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
}

@media (min-width: 1000px) {
    #timeline .demo-card-wrapper::after {
        border-left: 1px solid #bdbdbd;
    }
}

#timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
}

@media (min-width: 480px) {
    #timeline .demo-card {
        max-width: 60%;
        box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
}

@media (min-width: 720px) {
    #timeline .demo-card {
        max-width: 40%;
    }
}

@media (min-width: 1000px) {
    #timeline .demo-card {
        max-width: 450px;
        height: 400px;
        margin: 90px;
        margin-bottom: 45px;
    }

    #timeline .demo-card:nth-child(odd) {
        margin-right: 45px;
    }

    #timeline .demo-card:nth-child(odd) .head::after {
        border-left-width: 15px;
        border-left-style: solid;
        left: 100%;
    }

    #timeline .demo-card:nth-child(odd) .head::before {
        left: 491.5px;
    }

    #timeline .demo-card:nth-child(even) {
        margin-left: 45px;
    }

    #timeline .demo-card:nth-child(even) .head::after {
        border-right-width: 15px;
        border-right-style: solid;
        right: 100%;
    }

    #timeline .demo-card:nth-child(even) .head::before {
        right: 489.5px;
    }

    #timeline .demo-card:nth-child(2) {
        margin-top: 180px;
    }
}

#timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
}

#timeline .demo-card .head .number-box {
    display: inline;
    float: left;
    margin: 15px;
    padding: 10px;
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.17);
}

#timeline .demo-card .head h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: inherit;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 6px;
    line-height: 1rem;
}

@media (min-width: 480px) {
    #timeline .demo-card .head h2 {
        font-size: 165%;
        line-height: 1.2rem;
    }
}

#timeline .demo-card .head h2 span {
    display: block;
    font-size: 0.6rem;
    margin: 0;
}

@media (min-width: 480px) {
    #timeline .demo-card .head h2 span {
        font-size: 0.8rem;
    }
}

#timeline .demo-card .body {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 15px;
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1000px) {
    #timeline .demo-card .body {
        width: 100%;
    }
}

#timeline .demo-card .body p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    font-family: quicksand;
}

#timeline .demo-card .body .haimg {
    display: block;
    
    width: 250px;
    height: 250px;
}

#timeline .demo-card--step1 {
    background-color: #d34156;
    border-radius: 12px;
}

#timeline .demo-card--step1 .head::after {
    border-color: #d34156;
}

#timeline .demo-card--step2 {
    background-color: #d34156;
    border-radius: 12px;
}

#timeline .demo-card--step2 .head::after {
    border-color: #d34156;
}

#timeline .demo-card--step3 {
    background-color: #d34156;
    border-radius: 12px;
}

#timeline .demo-card--step3 .head::after {
    border-color: #d34156;
}

#timeline .demo-card--step4 {
    background-color: #d34156;
    border-radius: 12px;
}

#timeline .demo-card--step4 .head::after {
    border-color: #d34156;
}

#timeline .demo-card--step5 {
    background-color: #d34156;
    border-radius: 12px;
}

#timeline .demo-card--step5 .head::after {
    border-color: #d34156;
}

/* @media (max-width: 999px) {
    #timeline .demo-card-wrapper {
        width: 90%;
    }
    #timeline .demo-card {
        max-width: 100%;
        margin: 20px auto;
    }
} */
@media (max-width: 999px) {
    #timeline .demo-card-wrapper {
        width: 90%;
    }

    #timeline .demo-card {
        max-width: calc(50% - 40px);
        margin: 20px;
        float: left;
    }
}


@media (max-width: 767px) {
    #timeline .demo-card-wrapper {
        flex-flow: column nowrap;
        height: auto;
    }

    #timeline .demo-card {
        max-width: 100%;
        height: auto;
        margin: 20px auto;
    }

    #timeline .demo-card .head .number-box {
        margin: 0 0 10px;
        padding: 5px;
        font-size: 18px;
    }

    #timeline .demo-card .head h2 {
        font-size: 1.2rem;
    }

    #timeline .demo-card .head h2 span {
        font-size: 0.6rem;
    }

    #timeline .demo-card .body .haimg {
        width: 100%;
        height: auto;
      
    }
}